<footer>
  <div class="mailing-list">
    <div id="mc_embed_signup">
      <form action="https://getwrapper.us15.list-manage.com/subscribe/post?u=7cc3abda138b6a495ae2b2b2f&amp;id=234e7578c1"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mailing-list">
          <p>Enjoying this? Subscribe for more...</p>
          <div class="subscribe-form mc-field-group">
            <input type="email" value="" placeholder="email address" name="EMAIL" class="required email" id="mce-EMAIL">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7cc3abda138b6a495ae2b2b2f_234e7578c1"
              tabindex="-1" value=""></div>
        </div>
        <small class="archive-link"><a href="https://us15.campaign-archive.com/home/?u=7cc3abda138b6a495ae2b2b2f&id=234e7578c1"
            title="View previous campaigns" target="_blank">Email archive</a></small>
      </form>
    </div>
  </div>
  <div class="links">
    <p>Find me on:</p>
    <ul>
      <li><a href="https://medium.com/@jonnyburch" target="_blank">Medium</a></li>
      <li><a href="https://uk.linkedin.com/in/jonnyburch" target="_blank">Linkedin</a></li>
      <li><a href="https://twitter.com/jonnyburch" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/jonnyburch" target="_blank">Github</a></li>
      <li><a href="https://twitch.tv/jonnyburch" target="_blank">Twitch</a></li>
    </ul>
    <small>Or send me an email: jonny (at) jonnyburch.com</small>
  </div>
</footer>