<footer>
  <div class="">
    <p><strong>Get my updates and posts in your inbox:</strong></p>
    {% include mailing_list.html %}
  </div>
  <div class="links">
    <p>Find me on:</p>
    <ul>
      <li><a href="https://medium.com/@jonnyburch" target="_blank">Medium</a></li>
      <li><a href="https://uk.linkedin.com/in/jonnyburch" target="_blank">Linkedin</a></li>
      <li><a href="https://twitter.com/jonnyburch" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/jonnyburch" target="_blank">Github</a></li>
      <li><a href="mailto:jonny@jonnyburch.com">jonny@jonnyburch.com</a></li>
    </ul>
  </div>
</footer>