.home {
  h1.headline {
    margin: 0;
    color: burlywood;
  }
  ul.posts {
    padding: 0 1rem 1rem 0;
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        display: flex;
        flex-wrap:wrap;

        span.title {
          font-family: $bold-family;
          font-size: 10vw;
          margin: 0.4rem 0;
          line-height: 1;
          color: darkslategrey;
          text-decoration: underline;
          word-break: break-word;
          @extend %transition;
          @media (min-width: 40em) {
            font-size: 7vw;
            margin-bottom: 0;
          }
        }
      }
      span.date {
        color: burlywood;
        font-size: 10vw;
        font-family: $bold-family;
        word-break: break-word;
        @media (min-width: 40em) {
          font-size: 7vw;
          margin-right:1rem;
        }
      }
      p {
        margin: 0;
      }
    }
  }

}
.pagination {
  overflow: hidden;
  margin-top: 40px;
  color: lighten($text-color, 60%);
  text-align: center;
  border: 1px solid $border-color;

  a, span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    text-decoration: none;

    &:first-child {
      text-decoration: none;
      border-right: 1px solid $border-color;
    }
  }

  a:hover {
      text-decoration: none;
      background-color: darken($smoke-color, 5%);
  }
} // end .pagination


// misc

.jonny-img {
  max-width: 100px;
  margin-top: 40px;

  @media (min-width: 48em) {
    max-width: 200px;
  }
}
