.home {
  .headline {
    margin: 0.5rem 0 0;
    color: $main-color;
  }

  .posts {
    padding: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;

    .post {
      list-style-type: none;

      a {
        text-decoration: none;
        display: contents;

        .title {
          @include text-gradient;
          font-family: $font-family;
          font-weight: $font-weight-bold;
          margin: 0.4rem 0;
          line-height: 1;
          text-decoration: underline;
          word-break: break-word;
          @extend %transition;

          @include sm {
            margin-bottom: 0;
          }

          @include lg {
            margin-bottom: 0;
          }
        }
      }

      .meta {
        color: $main-color;
        line-height: 1.4;
        font-size: $font-size-m;

        @include sm {
        }

        @include lg {
          margin-bottom: 0;
        }
      }

      @include sm {
        span.date {
          margin-right: 1rem;
        }
      }

      p {
        margin: 0;
      }
    }
  }
}

.pagination {
  overflow: hidden;
  margin-top: 40px;
  color: lighten($text-color, 60%);
  text-align: center;
  border: 1px solid $border-color;

  a,
  span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    text-decoration: none;

    &:first-child {
      text-decoration: none;
      border-right: 1px solid $border-color;
    }
  }

  a:hover {
    text-decoration: none;
    background-color: darken($hint-color, 5%);
  }
}

// end .pagination
// misc
.jonny-img {
  max-width: 100px;
  margin-top: 40px;

  @media (min-width: 48em) {
    max-width: 200px;
  }
}