main {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.top {
  grid-row: 1;
  padding-left: 1rem;

  .container {
    margin: 0 auto;


    @include md {
      padding: 0 2rem 4rem;
      padding-bottom: 4rem;
    }

    @include lg {
      width: $screen-lg-min - 6rem;
    }
  }
}