table {
  margin: 2rem 0;
  border: 1px solid mix(white, $hint-color, 70%);
  thead {
    tr {
      background-color: mix(white, $hint-color, 70%);
      th {
        color: mix(black, $hint-color, 30%);
        padding: 0.5rem;
        text-align: left;
        line-height: 1.4;
        font-size: $font-size-s;
        @include md {
          font-size: $font-size-l;
          padding: 1rem;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid mix(white, $hint-color, 70%);
      td {
        padding: 0.5rem;
        line-height: 1.4;
        font-size: $font-size-s;
        @include md {
          font-size: $font-size-l;
          padding: 1rem;
        }
      }
    }
  }
}