{% include header.html %}

<div class="header-image" style="background: #222 URL('{{ site.baseurl }}/assets/img/{{ page.img_url }}') center center no-repeat">
  <h1>{{ page.shout }}</h1>
</div>
<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.byline }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</section>

{% include footer.html %}
