@font-face {
    font-family: 'salomeregular';
    src: url('/assets/fonts/salome-webfont.eot');
    src: url('/assets/fonts/salome-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/salome-webfont.woff2') format('woff2'),
        url('/assets/fonts/salome-webfont.woff') format('woff'),
        url('/assets/fonts/salome-webfont.ttf') format('truetype'),
        url('/assets/fonts/salome-webfont.svg#salomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
        url("/assets/fonts/Inter-UI-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/Inter-UI-Italic.woff2") format("woff2"),
        url("/assets/fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
        url("/assets/fonts/Inter-UI-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
        url("/assets/fonts/Inter-UI-BoldItalic.woff") format("woff");
}