* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font: $font-size-l $font-family;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  width: 100%;
  height: 100%;
}

p,
li {
  font-size: $font-size-m;
  line-height: 1.6;

  @include sm {
    font-size: $font-size-l;
  }

  @include md {
    font-size: $font-size-xl;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  color: $main-color;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 10vw;
  margin: $spacing-xs 0;
  color: $header-color;

  @include sm {
    font-size: 8vw;
  }

  @include md {
    font-size: 7vw;
  }

  @include lg {
    font-size: 4rem;
  }
}

h2 {
  font-size: 8vw;
  margin: $spacing-s 0 $spacing-xs;
  color: $header-color;

  @include sm {
    font-size: 6vw;
  }

  @include lg {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 6vw;
  margin: $spacing-sm 0 $spacing-xs;
  color: $header-color;

  @include sm {
    font-size: 4vw;
  }

  @include md {
    font-size: 3vw;
  }

  @include lg {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: $font-size-m;
  margin: $spacing-sm 0 0;
  color: $header-color;

  @include sm {
    font-size: 3vw;
  }

  @include md {
    font-size: 3vw;
  }

  @include lg {
    font-size: 1.8rem;
  }
}

h5 {
  @extend h4;
  text-align: center;
  font-size: 100%;
}

h6 {
  @extend h4;
  text-align: right;
}

ul li {
  list-style-type: circle;
  margin-bottom: 1rem;
}

ol li {
  list-style-type: decimal;
  margin-bottom: 1rem;
}

small  {
  opacity: 0.7;
}

a {
  @extend %transition;
  color: $link-color;
  padding-bottom: 0;
  border-bottom: 2px solid $hint-color;
  text-decoration: none;

  &:hover {
    background-color: $hint-color;
    border-bottom: 2px solid darken($hint-color, 20%);
  }
}

hr {
  height: 2px;
  color: $hint-color;
  background: $hint-color;
  font-size: 0;
  border: 0;
}

b,
.bold,
strong {
  font-family: $font-family;
  font-weight: $font-weight-bold;
}

::selection { background-color: $hint-color; }
