* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font: $font-size-l $font-family;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  width: 100%;
  height: 100%;
}

p {
  font-size: $font-size-m;
  line-height: 1.6;
  @media (min-width: 40rem) {
    font-size: $font-size-l;
  }
  @media (min-width: 47rem) {
    font-size: $font-size-xl;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bold-family;
  color: darkslategrey;
  font-weight: normal;
}

h1 {
  font-size: 10vw;
  margin: $spacing-xs 0;
  color: $header-color;
  @media (min-width: 40rem) {
    font-size: 8vw;
  }
  @media (min-width: 47rem) {
    font-size: 7vw;
  }
}

h2 {
  font-size: 8vw;
  margin: $spacing-s 0 $spacing-xs;
  color: $header-color;
  @media (min-width: 40rem) {
    font-size: 6vw;
  }
  @media (min-width: 47rem) {
    font-size: 5vw;
  }
}

h3 {
  font-size: 6vw;
  margin: $spacing-sm 0 $spacing-xs;
  color: $header-color;
  @media (min-width: 40rem) {
    font-size: 4vw;
  }
  @media (min-width: 47rem) {
    font-size: 3vw;
  }
}

h4 {
  font-size: 4vw;
  margin: $spacing-sm 0 0;
  color: $header-color;
  @media (min-width: 40rem) {
    font-size: 3vw;
  }
  @media (min-width: 47rem) {
    font-size: 3vw;
  }
}

h5 {
  @extend h4;
  text-align: center;
  font-size: 100%;
}

h6 {
  @extend h4;
  text-align: right;
}

ul li { list-style-type: circle; }
ol li { list-style-type: decimal; }

a {
  @extend %transition;
  color: $link-color;
  padding-bottom:0;

  &:hover {
    background-color: burlywood;
  }
}

hr {
  height: 2px;
  color: burlywood;
  background: burlywood;
  font-size: 0;
  border: 0;
}

b, .bold, strong {
  font-family: $bold-family;
  font-weight: normal;
}
